<div class="background"></div>
<div class="bg">
  <div class="parent">
    <div class="logo">
    <img src="/assets/PartyCreatorLogo.png" alt="Logo" width="450">
  </div>
    <div class="div1">
      <h1>Najprostszy sposób organizowania wydarzeń</h1>
      <p>
        PartyCreator pomoże Ci stworzyć wydarzenie, dokładnie zaplanować
        przebieg oraz zapisać wszystkie te niezapomniane chwile spędzone razem
        ze znajomymi
      </p>
      <h2>Wszystko w jednym miejscu</h2>
      <button
        *ngIf="isLoggedIn; else elseBlock"
        type="button"
        class="btn btn-primary btn-lg btnregister"
        mdbRipple
        [routerLink]="['/wydarzenia']"
      >
        Przejdź do strony
      </button>
      <ng-template #elseBlock>
        <button
          type="button"
          class="btn btn-primary btn-lg btnregister"
          (click)="changeLoginType()"
          mdbRipple
          [routerLink]="['/logowanie']"
        >
          Stwórz konto >
        </button>
      </ng-template>
    </div>

    <div class="div2">
      <h1>
        Poznaj funkcje, których na pewno potrzebujesz
        <fa-icon
          [icon]="faArrowDown"
          animation="bounce"
          size="xs"
          (click)="scrollToElement(scrollTarget)"
        ></fa-icon>
      </h1>
    </div>
  </div>

  <div #scrollTarget class="parent2">
    <div class="div1Functions">
      <h3>
        Łatwe tworzenie wydarzeń
        <fa-icon
          [icon]="faCalendar"
          animation="bounce"
          style="color: white"
        ></fa-icon>
      </h3>
      <p>
        Prosty i intuicyjny interfejs do szybkiego tworzenia wydarzeń, włącznie
        z datą, miejscem i tematyką.
      </p>
    </div>

    <div class="div2Functions">
      <h3>
        Wspomnienia na wyciągnięcie ręki
        <fa-icon
          [icon]="faPhoto"
          animation="fade"
          style="color: white"
        ></fa-icon>
      </h3>
      <p>
        Archiwizacja wydarzeń poprzez dodawanie zdjęć, co pozwala użytkownikom
        na wspominanie i dzielenie się swoimi fantastycznymi doświadczeniami.
      </p>
    </div>

    <div class="div3Functions">
      <h3>
        Dzielenie się rachunkiem
        <fa-icon [icon]="faMoney" style="color: #7fff00"></fa-icon>
      </h3>
      <p>
        Funkcja dzielenia się rachunkiem, ułatwiająca organizację wydarzeń
        płatnych.
      </p>
    </div>

    <div class="div4Functions">
      <h3>
        Zapraszanie znajomych
        <fa-icon
          [icon]="faUser"
          animation="shake"
          style="color: white"
        ></fa-icon>
      </h3>
      <p>
        Umożliwienie organizatorowi wydarzenia zapraszania znajomych poprzez
        e-mail. Umożliwia także śledzenie, kto potwierdził swoją obecność na
        wydarzeniu.
      </p>
    </div>

    <div class="div5Functions">
      <h3>
        Możliwość tworzenia ankiet
        <fa-icon
          [icon]="faPoll"
          animation="bounce"
          style="color: white"
        ></fa-icon>
      </h3>
      <p>
        Autor wydarzenia może tworzyć ankiety, w których uczestnicy wydarzenia
        będą mogli oddać swój głos oraz zobaczyć wynik ankiety.
      </p>
    </div>

    <div class="div6Functions">
      <h3>
        Playlista Spotify
        <fa-icon
          [icon]="faSpotify"
          animation="beat"
          style="color: green"
        ></fa-icon>
      </h3>
      <p>
        Umożliwia użytkownikom tworzenie playlisty muzycznej, do której
        uczestnicy mogą dodawać swoje piosenki. Pozwala to na stworzenie
        unikalnej atmosfery muzycznej podczas wydarzenia.
      </p>
    </div>

    <div class="div7Functions">
      <h3>
        Lista rzeczy do przyniesienia
        <fa-icon [icon]="faList" style="color: white"></fa-icon>
      </h3>
      <p>
        Autor wydarzenia może utworzyć listę rzeczy, które są potrzebne na
        imprezę. Uczestnicy mają możliwość oznaczania przedmiotów, które
        przyniosą, co pozwala na lepszą organizację.
      </p>
    </div>

    <div class="div8Functions">
      <h3>
        Chat ze znajomymi w wydarzeniu
        <fa-icon
          [icon]="faComments"
          animation="flip"
          style="color: white"
        ></fa-icon>
      </h3>
      <p>
        Wbudowany chat wewnątrz strony umożliwiający uczestnikom wydarzenia
        komunikację i planowanie przed samym wydarzeniem. Ułatwia to
        organizowanie szczegółów i koordynację działań.
      </p>
    </div>
  </div>
</div>
