.eventForm {
    color: white;
    padding: 15px;
    
}
.row-class {
    padding: 0px;
    padding-bottom: 10px;
}
.row-class-opcje {
    padding-top: 30px;
    padding-bottom: 30px;
}
.col-class {
    padding-bottom: 10px;
}
.col-slider {
    padding-bottom: 5px;
}

@media (min-width: 769px) {
    .mobile-calendar {
        display: none;
    }
    .row-slider {
        display: none;
    }
    
}

@media (max-width: 768px) {
    .desktop-calendar {
        display: none;
    }
    .row-class-opcje {
        padding-top: 10px;
        padding-bottom: 10px;
    }

}