<!DOCTYPE html>
<html>
  <head>
    <title>Regulamin Aplikacji PartyCreator</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding-top: 50px;
        height: fit-content;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      }
      h1,
      h2 {
        color: #333;
      }
      p {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Regulamin Aplikacji PartyCreator</h1>

      <h2>1. Wstęp</h2>
      <p>
        Niniejszy regulamin określa zasady korzystania z aplikacji internetowej
        do zarządzania wydarzeniami (zwanej dalej "Aplikacją").
      </p>

      <h2>2. Rejestracja i Konto Użytkownika</h2>
      <p>
        Użytkownik, aby korzystać z pełnej funkcjonalności Aplikacji, musi
        założyć konto, podając wymagane dane osobowe.
      </p>
      <p>
        Użytkownik odpowiada za prawdziwość podanych danych oraz za zachowanie
        poufności swoich danych logowania.
      </p>

      <h2>3. Tworzenie i Zarządzanie Wydarzeniami</h2>
      <p>
        Użytkownik ma możliwość tworzenia wydarzeń, podając ich opis, datę,
        miejsce oraz inne niezbędne informacje.
      </p>
      <p>
        Użytkownik może zapraszać do wydarzenia innych użytkowników Aplikacji
        oraz zarządzać listą uczestników.
      </p>

      <h2>4. Komunikacja i Udostępnianie Treści</h2>
      <p>
        Aplikacja umożliwia użytkownikom komunikację poprzez chat oraz
        udostępnianie zdjęć związanych z wydarzeniami.
      </p>
      <p>
        Użytkownik jest odpowiedzialny za treści, które publikuje, i zobowiązany
        do niepublikowania materiałów naruszających prawa innych osób lub
        obowiązujące przepisy prawa.
      </p>

      <h2>5. Prywatność i Ochrona Danych Osobowych</h2>
      <p>
        Administrator Aplikacji zobowiązuje się do ochrony danych osobowych
        zgodnie z obowiązującymi przepisami o ochronie danych osobowych.
      </p>
      <p>
        Użytkownik ma prawo do wglądu, modyfikacji i usunięcia swoich danych
        osobowych zgromadzonych w ramach Aplikacji.
      </p>

      <h2>6. Odpowiedzialność</h2>
      <p>
        Administrator Aplikacji nie ponosi odpowiedzialności za działania
        użytkowników ani za treści przez nich publikowane.
      </p>
      <p>
        Aplikacja jest dostarczana "tak jak jest", bez gwarancji działania
        bezbłędnego czy ciągłości dostępności usług.
      </p>

      <h2>7. Zmiany Regulaminu</h2>
      <p>
        Administrator zastrzega sobie prawo do wprowadzania zmian w regulaminie,
        o czym użytkownicy będą informowani z odpowiednim wyprzedzeniem.
      </p>

      <h2>8. Postanowienia Końcowe</h2>
      <p>
        Korzystanie z Aplikacji oznacza akceptację postanowień niniejszego
        regulaminu.
      </p>
      <p>
        W sprawach nieuregulowanych regulaminem stosuje się odpowiednie przepisy
        prawa.
      </p>
    </div>
  </body>
</html>
