<div class="chat-container">
  <div class="messages-container" #myScrollContainer>
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        'message-container': true,
        'sent-message': message.userId === this.userId
      }"
    >
      <div class="user-info">
        {{
          message.userId === this.userId
            ? "Ty"
            : message.firstName + " " + message.lastName
        }}
      </div>
      <div class="message">{{ message.message }}</div>
      <div class="message-time">
        {{ message.dateTime + "Z" | date : "mediumTime" }}
      </div>
    </div>
  </div>
  <div class="input-container">
    <form
      (ngSubmit)="sendMessage()"
      [formGroup]="messageData"
      class="messageInput"
    >
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Napisz wiadomość</mat-label>
        <input
          type="text"
          matInput
          placeholder="Twoja wiadomość"
          formControlName="message"
          maxlength="2000"
        />
        <button
          color="primary"
          mat-raised-button
          matSuffix
          type="submit"
          class="buttonSend"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</div>
