<html>
  <header></header>
  <body>
    <div class="my-section">
      <div class="card">
        <mat-tab-group
          class="profileTab"
          mat-stretch-tabs="true"
          mat-align-tabs="center"
          animationDuration="0ms"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>account_circle</mat-icon>
              <span class="tab-label-text">&nbsp;Profil</span>
            </ng-template>
            <app-profile-view></app-profile-view>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>edit</mat-icon>
              <span class="tab-label-text">&nbsp;Edycja</span>
            </ng-template>
            <app-profile-edit></app-profile-edit>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>contacts</mat-icon>
              <span class="tab-label-text">&nbsp;Lista kontaktów</span>
            </ng-template>
            <app-profile-contacts></app-profile-contacts>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </body>
</html>
